.frame01 {
    padding-top: 525px;
    color: $green-txt;
    .banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        img {
            position: absolute;
            z-index: 0;
        }
    }

    .content {
        position: relative;
        min-height: 610px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 730px;
            top: -120px;
            background: url(../images/bg-base.png) no-repeat top center;
            background-size: 100% auto;
            z-index: 0;
        }

        button {
            display: inline-block;
            width: 322px;
            padding: 15px;
            box-shadow: none;
            border: none;
            border-radius: 50px;
            font-size: 19px;
            line-height: 19px;
            text-align: center;
            font-weight: 600;
            letter-spacing: 1px;
            background-color: $yellow-base;
            color: $green-btn;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }

        &__topic {
            display: inline-block;
            padding: 15px 25px;
            background-color: #ddebc7;
            border-radius: 15px;
            font-family: $txt-serif;
            font-size: 24px;
            font-style: italic;
            letter-spacing: 3px;
            line-height: 25px;
            transform: scaleY(1.2);
            margin-bottom: 30px;
        }


        .start {
            display: none;
            position: relative;
            text-align: center;
            padding-top: 90px;

            p {
                font-size: 19px;
                line-height: 30px;
                letter-spacing: 1px;
                margin-bottom: 60px;
            }
        }
        .question {
            padding-top: 90px;
            position: relative;
            display: none;
            flex-direction: column;
            align-items: center;
            
            &__topic {
                font-size: 26px;
                font-family: $txt-serif;
                font-style: italic;
                letter-spacing: 1px;
                margin-bottom: 50px;
                span {
                    font-size: 37px;
                }
            }
            &__list {
                padding-left: 0;
                list-style: none;
            }
            &__item {
                margin-bottom: 30px;
                text-align: center;
            }
            &__option {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 230px;
                height: 48px;
                padding: 5px;
                background-color: $yellow-base;
                border-radius: 30px;
                font-size: 18px;
                font-weight: 600;
                line-height: 18px;
                span {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 38px;
                    height: 38px;
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    background-color: $green-btn;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 24px;
                    color: $yellow-base;
                    border-radius: 50%;
                }
            }
            &.q1 {
                .question {
                    &__topic {
                        margin-bottom: 60px;
                    }
                    &__list {
                        display: flex;
                        align-items: flex-end;
                    }
                    &__item{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 45px;
                        &:before {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 30px;
                            right: -45px;
                            width: 3px;
                            height: 50px;
                            transform: rotate(15deg);
                            box-shadow: 1px 1px 3px rgba(black,0.3);
                            background-color: $yellow-base;
                        }
                        &:last-child {
                            &::before {
                                display: none;
                            }
                        }
                    }
                    &__pic {
                        width: 110px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 35px;
                    }
                    &__desc {
                        margin-bottom: 20px;
                        font-size: 18px;
                    }
                    &__option {
                        display: block;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        font-size: 21px;
                        line-height: 21px;
                        box-shadow: 2px 2px 5px rgba(black,0.2);
                    }
                }
                
            }
            &.q2 {
                .question {
                    &__item {
                        
                    }
                }
            }
            &.q3 {
                .question {
                    &__option {
                        width: 320px;
                    }
                }
            }
        }
    }

    .animation_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .personal {
        display: none;
        position: relative;
        flex-direction: column;
        align-items: center;
        &__box {
            opacity: 0;
        }
        &__info {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            width: 530px;
            margin:  -70px auto 20px;
        }
        &__product {
            position: absolute;
            width: 170px;
            left: 0;
            bottom: -15px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__user {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 190px;
            margin: 0 20px;
        }
        &__headshot {
            width: 100%;
            height: 180px;
            margin-bottom: 20px;
            border-radius: 50%;
            border: #83ae3f solid 3px;
            overflow: hidden;
            background: url(../images/personal-headshot.jpg) no-repeat center center;
            background-size: cover;
        }
        &__name{
                text-align: center;
                font-size: 24px;
                font-weight: 500;
        }
        &__challenge {
            position: absolute;
            right: 40px;
            display: flex;
            align-items: center;
            height: 60px;
            border-radius: 7px;
            overflow: hidden;
        }
        &__complete {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff48c;
            width: 50px;
            height: 100%;
            font-size: 15px;
            text-align: center;
        }
        &__time {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 70px;
            height: 100%;
            padding-bottom: 8px;
            background-color: $yellow-base;
            font-size: 15px;
        }
        &__num {
            margin-right: 5px;
            font-size: 50px;
            font-weight: 600;
            line-height: 1em;
        }
        &__hr {
            width: 520px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__slogan {
            margin-bottom: 20px;
            h3 {
                text-align: center;
                margin-bottom: 15px;
                font-family: $txt-serif;
                transform: scaleY(1.1);
                line-height: 1.4em;
            }
            p {
                text-align: center;
                line-height: 1.7em;
                margin-bottom: 0;
            }
        }
        &__activity {
            text-align: center;
        }
        &__method {
            width: 520px;
            padding: 30px;
            margin-bottom: 15px;
            background-color: #ddebc7;
            border-radius: 20px;
            h4 {
                font-size: 24px;
                font-family: $txt-serif;
                transform: scaleY(1.1);
            }
            p {
                font-size: 15px;
                margin-bottom: 0;
                font-family: $txt-serif;
                transform: scaleY(1.1);
            }
        }
        &__set {
            text-align: center;
            font-size: 18px;
        }
        &__clock {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        &__dots {
            position: relative;
            width: 20px;
            height: 65px;
            margin: 0 20px;
            &:before,&:after {
                content: "";
                position: absolute;
                left: 0;
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #2a6b38;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
        }
        &.setclock {
            .personal__info {
                margin: -70px auto 50px;
            }
        }
        .swiper-container {
            display: inline-block;
            width: 175px;
            height: 175px;
            background-color: #ddebc7;
            border-radius: 20px;
        }  
        .swiper-slide {
            font-size: 120px;
            font-weight: 700;
            line-height: 155px;
        }
    }


    &.gum {
        color: $purple-txt;
        button {
            background-color: $purple-txt;
            color: #fff;
        }
        .content {
            &:before {
                background: url(../images/bg-gum.png) no-repeat top center;
                background-size: 100% auto;
            }
        }
        .personal {
            &__product {
                bottom: -30px;
            }
            &__headshot {
                border: #9063ae 3px solid;
            }
            &__complete {
                background-color: #73cac9;
                color: #fff;
            }
            &__time {
                background-color: #fff;
            }
            &__method {
                background-color: #e9cefb;
            }
            &__dots {
                &::before,&:after {
                    background-color: $purple-txt;
                }
            }
        }
        .swiper-container {
            background-color: #e9cefb;
        }
    }

    &.asw {
        color: $blue-txt;
        button {
            background-color: #fff;
            color: $blue-txt;
        }
        .content {
            &:before {
                background: url(../images/bg-asw.png) no-repeat top center;
                background-size: 100% auto;
            }
        }
        .personal {
            &__product {
                bottom: -30px;
            }
            &__headshot {
                border: #76c2f4 3px solid;
            }
            &__complete {
                background-color: #eaeaea;
            }
            &__time {
                background-color: #fff;
            }
            &__slogan {
                p {
                    color: $blue-txt02;
                }
            }
            &__method {
                background-color: #bee4ff;
            }
            &__set {
                p {
                    color: $blue-txt02;
                }
            }
            &__dots {
                &::before,&:after {
                    background-color: $blue-txt;
                }
            }
        }
        .swiper-container {
            background-color: #e4f0f9;
        }
    }
}