@charset "UTF-8";
// 共用變數與函數
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');  // -思源黑體
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');  // -思源宋體



/* Font */
$font-family-base: 'Noto Sans TC','PingFangTC', 'Heiti TC', 'Microsoft JhengHei', 'Noto Sans Myanmar','Arial', 'sans-serif';

$green-txt: #2a6b38;
$green-btn: #2c753f;
$yellow-base: #ffeb2f;
$purple-txt: #5e2587;
$blue-txt: #003ca6;
$blue-txt02: #1588d4;

$txt-serif: 'Noto Serif TC', 'Microsoft JhengHei', 'Noto Sans Myanmar', 'Arial', 'sans-serif';


body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-base;
}

