@charset "UTF-8";
.header {
    position: relative;
    z-index: 5;
    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(black,0.75);
    }
    .logo {
        position: absolute;
        z-index: 99;
        width: 195px;
        top: 40px;
        left: 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    .hamburger {
        position: absolute;
        top: 70px;
        right: 45px;
        width: 30px;
        height: 30px;
        z-index: 99;
        .line {
            position: absolute;
            width: 30px;
            height: 5px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: #221e1f;
            border-radius: 5px;
            &:before,&:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: #221e1f;
                border-radius: 5px;
                transform-origin: center center;
                transition: transform 0.3s;
            }
            &:before {
                top: -12px;
            }
            &:after {
                top: 12px;
            }
        }
        &.active {
            .line {
                background-color: transparent;
                &:before,&:after {
                    top: 0;
                    transition: transform 0.3s;
                }
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -410px;
        width: 410px;
        height: 100vh;
        padding-top: 145px;
        background-color: #fff;
        &__title {
            margin-bottom: 100px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__list {
            padding-left: 0;
            list-style: none;
        }
        &__item {
            position: relative;
            text-align: center;
            margin-bottom: 65px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: -53px;
                left: 50%;
                width: 1px;
                height: 40px;
                background-color: $green-txt;
            }
            &:last-child {
                &:before {
                    display: none;
                }
            }
            a {
                font-size: 26px;
                display: inline-block;
                color: $green-txt;
                font-weight: 500;
                letter-spacing: 1px;
            }
            &.setalarm {
                a {
                    padding: 5px 30px;
                    border-radius: 30px;
                    background-color: $green-txt;
                    color: #fff;
                    font-weight: 500;
                }
                
            }
        }
    }
}